body{
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.user{
  display: flex;
  justify-content: center;
  
}
.form{
  display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    min-width: 30%;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 5px;
    padding: 5% 1%;
}
.form>input{
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cl{
  margin-top: 5px;
  padding: 5px;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
  color:#fff;
  margin-bottom: 3px;
}

table, th, td {
  border:1px solid black;
}